*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: monospace;
}
main{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
    padding: 30px;
    margin: 2rem grid;
    max-width: 1024px;
    margin: 0 auto;
}

.product{
    background-color: darkgrey;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

.seller{
    background-color: darkgray;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    height: 150px;
    text-align: center;
    margin: 0 auto;
}

.seller h1{
    text-align: center;
    margin-bottom: 10px;
}

.seller h3{
    margin-bottom: 10px;
    font-size: 1.1rem;
    
}

.seller h4{
    margin-bottom: 10px;
    font-size: 1.1rem;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.cartWrapper{
    position: relative;
    width: fit-content;
}

.cart {
    position: absolute;
    width: 300px;
    background-color: black;
    right: -0.9rem;
    top: 1.3rem ;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 0.3rem;
    gap: 0.3rem;
}

.cart:before{
    content: " ";

    width: 1rem;
    height: 0.3rem;
    z-index:  -1;
    position: absolute;
    bottom: 1.3rem;
    right: 0.2rem;
    border: 1rem solid black;
    border-color: white;
}

.cart li {
    list-style: none;
    border-color: #a0b9e4;
    padding: 0.2rem;
    border-radius: 0.2rem;
}