*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: monospace;
}
main{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
    padding: 10px;
    margin: 2rem grid;
    max-width: 1024px;
    margin: 0 auto;
}

.product{
    background-color: darkgrey;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}